<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.imports.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/yfs/UploadServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadProgressService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.imports.rpc.FileUploadProgressServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadProgressService</servlet-name>
		<url-pattern>/yfs/FileUploadProgressService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>storeloader</servlet-name>
		<servlet-class>com.varun.yfs.server.admin.rpc.StoreLoaderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>storeloader</servlet-name>
		<url-pattern>/yfs/storeloader</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>campScreeningDetailService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.camp.CampScreeningDetailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>campScreeningDetailService</servlet-name>
		<url-pattern>/yfs/campScreeningDetailService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>clinicScreeningDetailService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.clinic.ClinicScreeningDetailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>clinicScreeningDetailService</servlet-name>
		<url-pattern>/yfs/clinicScreeningDetailService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>schoolScreeningDetailService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.school.SchoolScreeningDetailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>schoolScreeningDetailService</servlet-name>
		<url-pattern>/yfs/schoolScreeningDetailService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PatientDataImportService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.imports.rpc.PatientDataImportServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PatientDataImportService</servlet-name>
		<url-pattern>/yfs/PatientDataImportService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExportServlet</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.export.ExportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportServlet</servlet-name>
		<url-pattern>/yfs/exportServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>HelpFileExportServlet</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.export.HelpFileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelpFileExportServlet</servlet-name>
		<url-pattern>/yfs/helpFileExportServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExportService</servlet-name>
		<servlet-class>com.varun.yfs.server.screening.export.ExportServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExportService</servlet-name>
		<url-pattern>/yfs/ExportService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>com.varun.yfs.server.login.LoginServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/yfs/LoginService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageByteReaderService</servlet-name>
		<servlet-class>com.varun.yfs.server.reports.rpc.ImageByteReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageByteReaderService</servlet-name>
		<url-pattern>/yfs/ImageByteReaderService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageService</servlet-name>
		<servlet-class>com.varun.yfs.server.reports.rpc.ImageServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageService</servlet-name>
		<url-pattern>/yfs/ImageService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ReportDetailService</servlet-name>
		<servlet-class>com.varun.yfs.server.reports.ReportDetailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReportDetailService</servlet-name>
		<url-pattern>/yfs/ReportDetailService</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.varun.yfs.server.startup.StatusReportContextListener</listener-class>
	</listener>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>Yfs.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>YFSDFS</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
</web-app>
