<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="connection.pool_size">2</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
		<property name="hibernate.id.new_generator_mappings">true</property>

		<mapping class="com.varun.yfs.server.models.Entities" />
		
		<mapping class="com.varun.yfs.server.models.City" />
		<mapping class="com.varun.yfs.server.models.Country" />
		<mapping class="com.varun.yfs.server.models.Locality" />
		<mapping class="com.varun.yfs.server.models.State" />
		<mapping class="com.varun.yfs.server.models.Town" />
		<mapping class="com.varun.yfs.server.models.Village" />
		
		<mapping class="com.varun.yfs.server.models.ChapterName" />
		<mapping class="com.varun.yfs.server.models.Doctor" />
		<mapping class="com.varun.yfs.server.models.Clinic" />
		<mapping class="com.varun.yfs.server.models.ProcessType" />
		<mapping class="com.varun.yfs.server.models.TypeOfLocation" />
		<mapping class="com.varun.yfs.server.models.Volunteer" />
		<mapping class="com.varun.yfs.server.models.ReferralType" />
		<mapping class="com.varun.yfs.server.models.Project" />
		
		<mapping class="com.varun.yfs.server.models.SchoolScreeningDetail" />
		<mapping class="com.varun.yfs.server.models.SchoolPatientDetail" />

		<mapping class="com.varun.yfs.server.models.CampScreeningDetail" />
		<mapping class="com.varun.yfs.server.models.CampPatientDetail" />
		
		<mapping class="com.varun.yfs.server.models.ClinicScreeningDetail" />
		<mapping class="com.varun.yfs.server.models.ClinicPatientDetail" />
		<mapping class="com.varun.yfs.server.models.User" />

	</session-factory>
</hibernate-configuration>
